$font-family: "Playfair Display";
$dark-grey: rgb(98,98,98);
$light-grey: rgb(180,173,158);
$grey-background-color: rgb(240,240,240);
$orange: rgb(255,165,0);
$black: rgb(0,0,0);
$button-border: rgb(98,98,98);
